.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(110, 40, 176, 0.483);
  margin: 3px;
  margin-top: 2px;
  border-radius: 3px;
  height: 4rem;
}
.btn {
  background-color: rgba(110, 40, 176, 0.483);
  margin: 3px;
  border-radius: 2px;
}
.vehicles-card {
  height: 492px;
  width: 300px;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;

  border-color: rgb(200, 156, 196);
}
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(247 247 247);
  width: 297px;
}
.card-info {
  display: flex;
  flex-direction: column;
}
.card-image {
  background-size: contain;
}
.car-img {
  height: 30rem;
}
