.vh-40 {
  height: 40vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  background-color: rgb(247 247 247);

  background-size: cover;
}
.banner-div {
  width: 50vw;
  height: 40vh;
}
.car-imge {
  width: 490px;
  height: 660px;
  object-fit: cover;
  object-position: 50% 50%;
}
.about-image {
  width: 90vw;
  height: 555px;
  object-fit: cover;
  object-position: 50% 50%;
}

.about-image-container {
  margin-top: 5rem;
}
.about-text {
  margin-bottom: 7rem;
}
.banner-txt {
  font-size: 5rem;
}
.text-container {
  margin-top: 11rem;
}
